<div class="container">
  <%= form_for([:admin, @page], :builder=>KlogFormBuilder, :html=>{:class=>"form-horizontal admin-form"}) do |f| %>
      <fieldset>
        <legend>
          添加页面
        </legend>

        <%= render :partial => "form", :locals=>{:f=>f} %>

        <div class="form-actions">
          <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-ok icon-white"></i>
            添加页面
          </button>
        </div>
      </fieldset>
  <% end %>
  <%= link_to '<<返回列表', admin_pages_path %>
</div>