<div class="container">
  <h3>添加页面</h3>
  <%= form_for([:admin, @page], :html => {:class => "editor-form"}) do |f| %>
      <fieldset>
        <%= render :partial => "form", :locals => {:f => f} %>
      </fieldset>

      <div class="form-actions">
        <button class="btn btn-large btn-primary" type="submit">
          <i class="icon-ok icon-white"></i>
          添加页面
        </button>
      </div>
  <% end %>
  <%= link_to '<<返回列表', admin_pages_path %>
</div>