<ul class="nav nav-tabs">
    <li class="active" data-status="">
        <a href="#">已发布</a>
    </li>
    <li data-status="">
        <a href="#">草稿箱</a>
    </li>
</ul>
<table class="table table-hover table-condensed">
    <colgroup>
        <col width="60%"/>
        <col width="15%"/>
        <col/>
        <col/>
    </colgroup>
    <thead>
    <tr>
        <th>标题</th>
        <th>分类</th>
        <th>评论</th>
        <th>创建时间</th>
    </tr>
    </thead>
</table>

