<% @blogs.each do |blog| %>
    <article>
      <header>
        <h2>
          <%= link_to blog.title, blog_path(blog.slug) %>
        </h2>
        <p>发表于 <%= l blog.created_at %></p>
      </header>
      <div>
        <%=raw blog.html_content %>
      </div>
    </article>
<% end %>

<div class="pager-wrapper">
	<%= paginate @blogs, :theme=>'tiny' %>
</div>
