<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" ng-click="modal.dismiss()">&times;</button>
            <h4 class="modal-title">附件与图片</h4>
        </div>
        <div class="modal-body">
            <ul class="upload-attaches">
                <li ng-repeat="attach in attaches">
                    <div ng-if="attach.file">
                        <span class="title">{{attach.file.name}}</span>

                        <div class="progress progress-striped active">
                            <div class="progress-bar" role="progressbar" ng-style="{width: attach.percent+'%'}">
                                <span class="sr-only">{{attach.percent}}% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!attach.file">
                        <span class="title">{{attach.file_name}}</span>
                        <a href="">插 入</a>|
                        <a ng-href="{{attach.url}}" target="_blank">查 看</a>|
                        <a href="" ng-click="remove(attach)">删 除</a>
                    </div>
                </li>
            </ul>
            <div>
                <input type="file" value="选择图片" class="btn" file-select="doUpload(files)" multiple
                       accept=".jpg, .jpeg, .gif, .png, .pdf, .ppt, .pptx, .rar, .zip, .txt"
                       style="display: none"/>
                <button class="btn btn-primary" ng-click="upload()">选择本地文件</button>
            </div>
            <div class="upload-drop" file-drop="do(files)">
                或者拖拽文件到这里
            </div>
        </div>
    </div>
</div>