<!DOCTYPE html>
<html>
<head>
  <title>Klog管理后台</title>
  <meta charset="utf-8" />
  <%= stylesheet_link_tag 'admin' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" style="width:400px;">
  <%= form_tag admin_session_path, :class=>"form-inline" do -%>
      <legend>输入密码</legend>
      <div class="well">
      <%= password_field_tag 'password', nil, :class=>'input-xlarge', :autofocus=>true %>
      <button class="btn btn-large btn-danger" type="submit">
        登录
      </button>
      </div>
  <% end -%>
</div>
</body>
</html>

