<div id="markdownTip" class="modal hide">
  <h2>Cheat Sheet</h2>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span6">
        <div>
          <p>Header</p>
          <pre>
            # 一级标题
            ## 二级标题
          </pre>
        </div>

        <div>
          <p>文本样式</p>
          <pre>
            *斜体*
            _斜体_
            **粗体**
            __粗体__
          </pre>
        </div>
      </div>
      <div class="span6">
        
      </div>
    </div>
  </div>
</div>