<div class="markdown-editor">
  <ul class="nav nav-tabs editor-tabs">
    <li class="active" data-type="edit">
      <a href="#markdown_edit">编辑</a>
    </li>
    <li data-type="preview">
      <a href="#markdown_preview">预览</a>
    </li>
    <li class="nav-tip">
      <span>
        请使用 <a href="javascript:void(0)" id="popMarkdownTip">Markdown</a> 格式撰写文章，按下 Shift + M 试试:)
      </span>
    </li>
  </ul>

  <div class="control-group">
    <div id="markdown_edit">
      <%= f.text_area method, :class => "input-block-level", :rows => 30, :placeholder => "写点什么..." %>
      <div class="upload-wrapper">
        <div class="upload-list"></div>
        <div id="uploadHolder"></div>
      </div>
      <a href="javascript:void(0);" title="Zen Mode" class="zen-mode-trigger"><i class="icon-fullscreen"></i></a>
    </div>

    <div class="preview-wrapper" id="markdown_preview"></div>
  </div>

  <%= render 'admin/common/markdown_tip' %>
</div>
<div class="markdown-editor-fullscreen">
  <div class="textarea-wrapper">
    <textarea placeholder="写点什么..."></textarea>
  </div>
  <div class="fullscreen-sidebar">
    <a title="退出" class="exit-zen-mode" href="javascript:void(0);"><%=image_tag 'exit-fullscreen.jpg' %></a>
  </div>
</div>
<script>
    var attaches_json = <%= raw f.object.attaches.map {|a| a.json_data }.to_json %>;
</script>
