<div class="panel panel-info full-height blog-editor">
    <div class="panel-body row">
        <form class="col-md-6 full-height" name="form" novalidate>
            <input type="text" class="editor-title form-control" placeholder="文章标题" autofocus name="title"
                   ng-model="blog.title" maxlength="25"
                   required/>

            <div class="" style="position: absolute;right:10px;top:10px;">
                <button class="btn btn-primary" ng-click="save(true)">
                    保 存 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

            <textarea class="editor-content form-control" placeholder="写点什么..." ng-model="blog.content" name="content"
                      ng-scroll1="scrollSync(scrollTopPercent)"
                      ng-scroll-top-percent1="scrollTopPercent" scroll-pos="sb"></textarea>

            <div class="upload-drop" file-drop="doUpload(files)" accept="{{UPLOAD_FILE_TYPES}}">
                <div class="tip">将文件拖至此处</div>
            </div>
            <div class="panel panel-default upload-attaches" ng-class="{'panel-info': attachShow}"
                 ng-show="attaches.length > 0">
                <div class="panel-heading" ng-click="attachShow=true" ng-show="!attachShow">
                    <a href=""><i class="icon-paperclip"></i> {{attaches.length}} 个附件</a>
                </div>
                <div class="panel-heading" ng-show="attachShow">
                    <span><i class="icon-paperclip"></i> {{attaches.length}} 个附件</span>
                    <a href="" ng-click="attachShow=false" title="最小化" class="icon-minus action"></a>
                </div>
                <ul class="list-group" ng-show="attachShow">
                    <li class="list-group-item" ng-repeat="attach in attaches">
                        <div ng-if="attach.file">
                            <strong class="title">{{attach.file.name}}</strong>

                            <div class="progress progress-striped active">
                                <div class="progress-bar" role="progressbar" ng-style="{width: attach.percent+'%'}">
                                    <span class="sr-only">{{attach.percent}}% Complete</span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!attach.file">
                            <strong class="title" style="width: 150px"><a title="{{attach.file_name}}"
                                                                          ng-href="{{attach.url}}"
                                                                          target="_blank">{{attach.file_name}}</a></strong>
                            <a class="action" title="删除附件" ng-click="removeAttach(attach)" href=""><i
                                    class="icon-trash"></i></a>
                            <a class="action" title="插入文章" ng-click="insertCode(attach)" href=""><i
                                    class="icon-link"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tools">
                <a href="" ng-click="showTip()" title="Markdown 帮助"><i class="icon-question-sign"></i></a>
                <a href="" file-input="doUpload(files)" accept="{{UPLOAD_FILE_TYPES}}" title="上传图片或附件"><i
                        class="icon-upload-alt"></i></a>
                <a href=""><i class="icon-paperclip"></i> <span class="badge">42</span></a>
            </div>
            <div class="editor-config row">
                <div class="col col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="icon-book"></i></span>
                        <select class="form-control" ng-model="blog.category_id"
                                ng-options="cc.id as cc.name for cc in categories">
                            <option value="">选择分类...</option>
                        </select>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="icon-link "></i></span>
                        <input class="form-control" type="text" placeholder="URL Slug" ng-model="blog.slug"/>
                    </div>
                </div>
                <div class="col col-md-4">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon"><i class="icon-tags"></i></span>
                        <input class="form-control" type="text" placeholder="标签" ng-model="blog.tag_list" tag-list/>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-md-6 full-height editor-preview-wrap">
            <h1><i>预览</i>{{blog.title}} &nbsp;</h1>

            <div class="editor-preview" ng-bind-html="htmlContent" ng-scroll1="scrollSync(scrollTopPercent)"
                 ng-scroll-top-percent1="scrollTopPercent" scroll-pos="sb"></div>

            <div class="tags">
                <span class="label label-primary" ng-repeat="tag in blog.tag_list">{{tag}}</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-primary" ng-click="save(true)">发 布</button>
        <button class="btn btn-warning" ng-click="save(false)">保存草稿</button>
    </div>
</div>