<ul class="nav nav-tabs">
  <li <%= settings_nav_class('websites') %>>
    <a href="<%= edit_admin_settings_website_path %>">网站信息</a>
  </li>
  <li <%= settings_nav_class('admin_passes') %>>
    <a href="<%= edit_admin_settings_admin_pass_path %>">修改后台密码</a>
  </li>
</ul>
