@import "twitter/bootstrap";

.table th{
    background: @gray;
    color: @white;
}


.empty-table{
    height: 20px;
    font-weight: bolder;
}

.table-manage {
    margin-left: 20px;
    display:none;
}

.pagination ul{
    float:right;
}
