@import "twitter/bootstrap";

body {
  background: #eee;
}

.navbar-admin {
  min-height: 40px;
  border-radius: 0;
  margin-bottom: 30px;

  .navbar-brand {
    padding: 10px 20px;
    color: #8bbbf2;
    font-weight: bold;
    font-size: 20px;
  }

  .navbar-nav > li > a {
    padding: 10px 20px;
  }
}

.main {
  position: absolute;
  top: 80px;
  bottom: 10px;
  left: 15px;
  right: 15px;

  @for $i from 1 through 12 {
    .col-md-#{$i} {
      height: 100%;
    }
  }

  .row, .panel {
    height: 100%;
  }
}

//.nav-dropdown-menu {
//  min-width: 130px;
//  > li > a {
//    color: $gray;
//  }
//}

// blog 列表页
.blog-list {
  .panel-heading {
    background: white;
    height: 60px;
    padding-top: 20px;
  }

  .list-group {
    overflow: auto;
    height: calc(100% - 60px);

    .list-group-item {
      padding-left: 19px;
      cursor: pointer;

      &:hover {
        background: whitesmoke;
        .tools {
          display: block;
        }
      }
    }

    .list-group-item.active {
      background: whitesmoke;
      border-color: #ddd;
      border-left: 4px solid #aaa;
      color: #333;
      padding-left: 15px;
    }

    .list-group-item-text {
      color: #aaa;
    }

    .tools {
      display: none;
      a {
        font-size: 16px;
        color: #999;

        &:hover {
          text-decoration: none;
          color: #333;
        }
      }
    }
  }
}

.blog-preview {
  padding-left: 0;

  .panel-heading {
    height: 60px;
    background: white;
    padding-top: 20px;

    h3 {
      margin: 0;
    }

    a {
      font-size: 14px;
      color: #999;
      margin-right: 10px;

      &:hover {
        text-decoration: none;
        color: #333;
      }
    }
  }

  .blog-preview-content {
    overflow: auto;
    height: calc(100% - 60px);

    > div {
      margin: 15px;
      max-width: 800px;
    }
  }
}

.confirm-dialog {
  width: 400px;
}

//// 登录首页
//.admin-login-body {
//  text-align: center;
//
//  .admin-login-wrapper {
//    display: inline-block;
//    margin-top: 100px;
//
//    legend, .alert {
//      text-align: left;
//    }
//  }
//}
//
// nav

//
//// copy right
//.copyright {
//  margin-top: 100px;
//  padding: 20px 0px;
//  border-top: 1px solid $grayLighter;
//  color: $grayLight;
//  text-align: center;
//
//  a {
//    color: $gray;
//    text-decoration: underline;
//  }
//}
//
//// 后台首页
//.main {
//  header {
//    font-size: 20px;
//    font-weight: bold;
//    margin-bottom: 15px;
//  }
//  article {
//    margin-bottom: 20px;
//  }
//
//  li {
//    font-size: 16px;
//    margin-bottom: 10px;
//  }
//}
//
// 表格
.table {

  th {
    background: $gray-lighter;
    color: #000;
    padding: 8px 5px;
  }

  tbody > tr > td {
    vertical-align: middle;
  }

  .list-btn {
    margin-right: 5px;
    float: right;
    display: none;
  }

  .list-title {
    margin-right: 20px;
  }

  .list-action {
    opacity: 0;
    -webkit-transition: opacity 500ms;
  }

  tr:hover .list-action {
    display: inline;
    opacity: 0.6;
  }

  .table-empty-row {
    height: 20px;
    font-weight: bolder;
  }
}

.ajax-spinner {
  position: absolute;
  left: 50%;
  top: 9px;
  width: 300px;
  margin-left: -150px;
  border-radius: 0 0 5px 5px;
  color: #c09853;
  text-align: center;
  padding: 5px 0;
  background: #FCF6CF;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;

  .icon-spin {
    -webkit-animation: spin 0.7s infinite linear;
    animation: spin 0.7s infinite linear;
  }
}

.ajax-spinner.show {
  top: 42px;
  margin-right: 5px;
}

// animate
.row-animate-in.ng-enter, .row-animate-out.ng-leave {
  -webkit-transition: 1s ease-in all; /* Safari/Chrome */
  -moz-transition: 1s linear all; /* Firefox */
  -o-transition: 1s linear all; /* Opera */
}

.row-animate-in.ng-enter {
  background: #fcf8e3;
}

.row-animate-in.ng-enter-active {
  background: #fff;
}

.row-animate-out.ng-leave {
  background-color: #f4c8c5;
  opacity: 0.5;
}

.row-animate-out.ng-leave-active {
  background: #fff;
  opacity: 0;
}