@import "bootstrap";

// 登录首页
.admin-login-body {
  text-align: center;

  .admin-login-wrapper {
    display: inline-block;
    margin-top: 100px;

    legend, .alert {
      text-align: left;
    }
  }
}

// nav
.navbar {
  margin-bottom: 30px;

  .container {
    width: 940px;
  }

  .brand {
    color: #8bbbf2;
    font-weight: bold;
  }

  .nav-link {
    li {
      font-weight: bold;
    }
    li > a:hover {
      color: $black;
    }
  }
}

// copy right
.copyright {
  margin-top: 100px;
  padding: 20px 0px;
  border-top: 1px solid $grayLighter;
  color: $grayLight;
  text-align: center;

  a {
    color: $gray;
    text-decoration: underline;
  }
}

// 后台首页
.main {
  header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  article {
    margin-bottom: 20px;
  }

  li {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

// 表格
.table {

  th {
    background: $grayLighter;
    color: $black;
    padding: 8px 5px;
  }

  td {
    height: 30px;
    line-height: 30px;
  }

  .list-btn {
    margin-right: 5px;
    float: right;
    display: none;
  }

  .table-empty-row {
    height: 20px;
    font-weight: bolder;
  }
}

// 分页
.pagination ul {
  float: right;
}

// 带有文本编辑器的表单
.editor-form {
  fieldset {
    padding: 4px;
    background: #eee;
    border-radius: 4px;
  }

  .editor-form-inner {
    border: 1px solid #CACACA;
    background-color: #fff;
    padding: 20px 0px;
  }

  .control-group {
    padding: 0 15px;
    margin-bottom: 10px;
  }

  .control-label {
    width: 40px;
    text-align: left;
  }

  .controls {
    margin-left: 50px;
  }

  label {
    font-weight: bolder;
  }

  // bootstrap会将input设为margin-left 0 ，所以加上一个gutter的宽度
  input.span10 {
    width: ($fluidGridColumnWidth  * 10) + ($fluidGridGutterWidth * 9);
  }

  .nav-tabs > li:first-child {
    margin-left: 15px;
  }

  .form-actions {
    background: #fff;
    border: none;
    margin: 0;
    padding: 20px 0 0 3px;
  }

}

// markdown 编辑器
.markdown-editor {

  // 提示
  .nav-tip {
    padding-top: 15px;
    padding-right: 15px;
    color: $grayLight;
    float: right;
    font-size: 12px;
  }

  textarea {
    border-bottom: 1px dashed #ddd;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
    outline-style: none;
  }

  // 预览
  .preview-wrapper {
    display: none;
    border: 1px solid #CCC;
    border-radius: 3px;
    margin-top: 0px;
    padding: 4px;
    overflow: scroll;
  }

  // 上传
  .upload-wrapper {
    padding: 10px 10px 5px 10px;
    min-height: 35px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  /* 上传显示 */
  .upload-list {
    display: none;
    width: 500px;
    padding: 0;
    margin: 0 0 5px 2px;

    .filename {
      margin-right: 10px;
    }

    .handle {
      font-size: 10px;
    }

    .progress {
      height: 10px;
      width: 150px;
      margin: 4px 0 0 10px;
    }
  }
}

// 普通表单
.admin-form {
  .control-label {
    width: 70px;
  }

  label {
    font-weight: bolder;
  }

  .controls {
    margin-left: 90px;
  }

  .form-actions {
    padding-left: 90px;
  }

  .help-block {
    color: $grayLight;
  }
}

// 评论
.comments {
  border: 1px solid $grayLighter;
  border-radius: 5px;

  article {
    border-bottom: 1px solid $grayLighter;
    padding: 10px;
    &:last {
      border-bottom: none;
    }

    header {
      margin-bottom: 5px;
    }

    footer {
      margin-top: 5px;
    }
  }

  .nick {
    color: $linkColor;
    font-weight: bolder;
    font-size: 16px;
  }

  .ip {
    color: $grayLight;
    margin-left: 10px;
  }

  .date {
    color: $grayLight;
    margin-right: 10px;
  }

}

// 成功提示
#successTip {
  position: fixed;
  top: -40px;
  width: 150px;
  text-align: center;
  padding: 8px 0;
}
