@import "twitter/bootstrap";

body{
    background: asset-url("furley_bg.png");
}

.copyright {
    margin: 20px;
    text-align: center;
}

.copyright a{
    text-decoration: underline;
}

.nav li{
    font-weight:bolder;
    font-size: 16px;
}

.navbar .nav .active a,
.navbar .nav .active a:hover {
  background-color: @gray;
}

#rss-icon{
    background:url(/assets/orange_1.png) no-repeat;
    height:56px;
    width:55px;
    padding: 0;
    margin-top:-16px;
}

.page{
    box-shadow: 0 0 6px rgba(0,0,0,.2);
	border: 1px solid #CCC;
    border-radius: 4px;
    background: @white;
}

.logo{
    margin-bottom: 10px;
}

.logo h1{
    font-size: 60px;
    line-height: 80px;
    height: 80px;
    font-weight:bolder;
    display: inline-block;
}

.logo em{
    margin-left:10px;
    font-size: 30px;
    color: @grayLight;
    display: inline-block;
}

.main{
    padding: 20px;
}

.sidebar{
    margin-top: 20px;
    padding:0 20px;
    border-left: 1px solid #ccc;
}

.sidebar section{
    margin-bottom: 20px;
}

.sidebar h3{
    color: @grayLight;
    margin-bottom: 10px;
}

.tag{
    font-weight: bold;
    margin-right: 8px;
}

/* blog */
.blog{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.blog header h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog header p{
    color: @grayLight;
}

.blog section h3 {
    font-size: 25px;
    line-height: 30px;
    margin: 20px 0;
    font-weight:bold;
    color:#222;
}

.blog section h4{
    font-size: 18px;
    line-height: 25px;
    margin: 15px 0;
    font-weight:bold;
    color:#222;
}

.blog section p, .blog section li{
    font-size: 14px;
    line-height: 24px;
}

.blog pre{
    margin-bottom: 15px;
}

.blog footer{
  padding: 10px 0;
  color: @grayLight;
}

.blog footer a{
    font-size: 14px;
    font-weight: bolder;
}


.pager-wrapper a{
    height: 20px;
    line-height: 20px;
    width: 100px;
}

.comment-form{
    padding:10px;
    background:@grayLighter;
    border-radius: 5px;
}

.comment-form legend{
    margin-bottom: 5px;
    font-size: 18px;
}

.comment-form textarea{
    width:99%;
    border-width:2px;
}

.comment{
    margin-top: 5px;
    margin-bottom: 10px;
}

.comment header{
    background: @grayLighter;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 10px;
    color: @linkColor;
    border:none;
    margin-bottom: 10px;
}

.comment footer{
    color: @grayLight;
    padding: 5px 0;
}


.archive .year {
    margin-top: 20px;
}

.archive h2 {
    font-size: 40px;
    font-weight: bolder;
    line-height: 50px;
    color: @gray;
    padding-top: 3px;
}

.archive article {
    border-bottom: 1px solid @grayLighter;
}

.archive h3{
    color:@grayLight;
    font-size: 30px;
    font-weight: bolder;
    line-height: 50px;
    height: 50px;
}

.archive .title{
    font-size: 25px;
     line-height: 50px;
    height: 50px;
}

.page-content h3{
    font-size: 30px;
    line-height: 40px;
    margin: 20px 0 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid @grayLighter;
    color: #000;
}

.page-content p, .page-content li{
    font-size: 18px;
    line-height: 27px;
}