<div class="container">
  <%= form_for([:admin, @blog], :html=>{:class=>"form-horizontal"}) do |f| %>
      <fieldset>
        <legend>修改文章</legend>
        
        <%= render :partial => "form", :locals=>{:f=>f} %>

        <div class="form-actions">
          <button class="btn btn-large btn-primary" type="submit">
            <i class="icon-ok icon-white"></i>
            提交修改
          </button>
        </div>
      </fieldset>
  <% end %>
</div>