<div class="archive">
  <% @blogs_by_year.each do |year, blogs| %>
      <div class="row-fluid full-year">
        <h2 class="span2"><%= year %></h2>
        <ul class="span10">
          <% blogs.each do |blog| %>
              <li>
                <h3>
                  <%= l blog.created_at, :format=>'%m/%d' %>
                </h3>
                <%= link_to blog.title, blog_path(blog.slug) %>
              </li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
