<div class="archive">
  <% @blogs_by_year.each do |year, blogs| %>
      <div class="row-fluid year">
        <h2 class="span2" style="width:100px;"><%= year %></h2>
        <div class="span10">
          <% blogs.each do |blog| %>
              <article class="row-fluid">
                <h3 class="span2" style="width:80px">
                  <%= l blog.created_at, :format=>'%m/%d' %>
                </h3>
                <div class="span10 title">
                  <%= link_to blog.title, blog_path(blog.slug) %>
                </div>
              </article>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
