<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active">
          <%= link_to 'Blog', blogs_path %>
        </li>
        <li>
          <%= link_to 'Archives', admin_blogs_url %>
        </li>
        <% Page.all.each do |page| %>
        <li>
          <%=link_to page.title, "/#{page.slug}" %>
        </li>
        <% end %>
      </ul>

      <ul class="nav pull-right">
        <li><%= link_to '', feed_url, :id=>'rss-icon', :title=>'RSS订阅' %></li>
      </ul>
    </div>
  </div>
</div>