<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active">
          <%= link_to 'Blog', blogs_path %>
        </li>
        <li>
          <%= link_to 'Archives', admin_blogs_url %>
        </li>
        <li>
          <%= link_to 'About', admin_blogs_url %>
        </li>
      </ul>
    </div>
  </div>
</div>